@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: black;
}
.bg-gif {
    background-image: url(images/animated-sound-waves.gif);
    background-repeat: repeat-x;
    background-position: center;
    
}

#textInput {
    font-family: "Comic Sans MS";
}

#rate {
    width: 100%;
}

.rateLabel {
    color: #fff;
    font-family: "Open Sans";
    font-weight: bold;
}

#rateValue {
    height: 22px;
}

button {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    width: 100%;
    height: 38px;
    border-radius: 5px;
    border-width: 0px;
}